nav a, form[name="log_in"] input[type="submit"], form[name="check_in"] input[type="submit"], form[name="add_news"] input[type="submit"], form[name="edit_news"] input[type="submit"], .container .news_example .comments_block form[name='user_comment'] input[type="submit"], .container #show_more { color: #4d2800; background: #fec283; text-align: center; font-family: URW Chancery L, cursive; font-size: 18px; border: none; padding: 5px 15px 7px 15px; cursor: pointer; text-decoration: none; }
nav a:hover, form[name="log_in"] input[type="submit"]:hover, form[name="check_in"] input[type="submit"]:hover, form[name="add_news"] input[type="submit"]:hover, form[name="edit_news"] input[type="submit"]:hover, .container .news_example .comments_block form[name='user_comment'] input[type="submit"]:hover, .container #show_more:hover { color: #fec283; background: #4d2800; }

nav, footer { width: 100%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

body { font-family: "Arial", sans-serif; font-size: 16px; margin: 0; background: #ffe6b8; }
@media only screen and (min-width: 320px) and (max-width: 450px) { body { max-width: 100%; } }

#load { z-index: 1; display: flex; position: fixed; margin-top: 0; width: 100%; height: 100%; justify-content: center; align-items: center; background: rgba(221, 221, 221, 0.8); }
#load span { position: relative; left: 15px; }

p { text-align: justify; white-space: pre-wrap; }

h4, h3, h2 { text-align: center; }

input, textarea { outline: none; }

.block_for_form { z-index: 1; position: fixed; top: 0; width: 100%; height: 100%; background: rgba(108, 108, 108, 0.8); }

header { height: 470px; background-image: url("../img/fon.png"); background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }
@media only screen and (min-width: 451px) and (max-width: 800px) { header { height: 220px; background-attachment: local; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { header { display: none; } }

nav { z-index: 1; padding: 5px 0 7px 0; text-align: center; background: #fec283; }
@media only screen and (min-width: 320px) and (max-width: 450px) { nav { position: fixed; top: 0; padding: 0; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { nav a { padding: 0 10px; } }

form[name="log_in"], form[name="check_in"] { z-index: 1; position: fixed; top: 65px; left: 0; right: 0; margin: auto; padding: 10px; width: 325px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background: #fff; display: none; background: #fff; text-align: center; }
@media only screen and (min-width: 320px) and (max-width: 960px) { form[name="log_in"], form[name="check_in"] { width: 280px; } }
form[name="log_in"] legend, form[name="check_in"] legend { font-weight: bold; font-family: URW Chancery L, cursive; font-size: 20px; padding: 0 10px 0 10px; }
form[name="log_in"] #error, form[name="check_in"] #error { color: red; }
form[name="log_in"] input:not([type="submit"]), form[name="check_in"] input:not([type="submit"]) { padding: 5px; margin: 5px 0 5px 0; width: calc(100% - 40px); }
form[name="log_in"] input[type="submit"], form[name="check_in"] input[type="submit"] { margin-top: 10px; }
form[name="log_in"] span:last-child, form[name="check_in"] span:last-child { display: block; margin-top: 20px; color: #0032c7; font-size: 14px; cursor: pointer; }
form[name="log_in"] span:last-child:hover, form[name="check_in"] span:last-child:hover { text-decoration: underline; }
form[name="log_in"] .close, form[name="check_in"] .close { position: absolute; right: 6px; top: 16px; cursor: pointer; }
form[name="log_in"] .close svg, form[name="check_in"] .close svg { background-color: #fff; font-size: 25px; }

form[name="add_news"], form[name="edit_news"] { z-index: 1; position: fixed; top: 65px; left: 0; right: 0; margin: auto; padding: 10px; width: 440px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background: #fff; display: none; background: #fff; }
@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) { form[name="add_news"], form[name="edit_news"] { position: fixed; top: 5px; height: 90%; overflow-y: auto; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { form[name="add_news"], form[name="edit_news"] { position: fixed; top: 5px; width: 93%; } }
@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) { form[name="add_news"] fieldset, form[name="edit_news"] fieldset { height: -webkit-fill-available; } }
form[name="add_news"] input[type="submit"], form[name="edit_news"] input[type="submit"] { margin-top: 10px; }
form[name="add_news"] input[name="caption"], form[name="edit_news"] input[name="caption"] { width: 60%; }
form[name="add_news"] input[name="file"], form[name="edit_news"] input[name="file"] { margin-top: 10px; width: 60%; }
@media only screen and (min-width: 320px) and (max-width: 450px) { form[name="add_news"] input[name="file"], form[name="edit_news"] input[name="file"] { width: auto; } }
form[name="add_news"] input[name="file_name"], form[name="edit_news"] input[name="file_name"] { width: 150px; border: none; margin-left: -126px; cursor: default; }
@media only screen and (min-width: 320px) and (max-width: 450px) { form[name="add_news"] input[name="file_name"], form[name="edit_news"] input[name="file_name"] { margin: -135px; width: 130px; } }
form[name="add_news"] textarea, form[name="edit_news"] textarea { width: 350px; height: 300px; margin-top: 10px; padding: 10px; }
@media only screen and (min-width: 600px) and (max-width: 800px) and (orientation: landscape) { form[name="add_news"] textarea, form[name="edit_news"] textarea { height: 75%; min-height: 115px; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { form[name="add_news"] textarea, form[name="edit_news"] textarea { width: 90%; } }
form[name="add_news"] .close, form[name="edit_news"] .close { position: absolute; right: 6px; cursor: pointer; }
form[name="add_news"] .close svg, form[name="edit_news"] .close svg { background-color: #fff; font-size: 25px; }

.container { *zoom: 1; margin: auto; max-width: 960px; }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container { width: 310px; } }
.container article { margin: 10px 0 10px 0; padding-bottom: 10px; width: 100%; background-color: white; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
.container article#actual { min-height: 580px; /*@media only screen and (min-width : 320px) and (max-width : 450px) { height: 525px; overflow: hidden;
}*/ }
.container article#actual input { margin-top: 560px; position: absolute; text-align: right; border: none; font-size: 18px; width: 300px; cursor: pointer; font-style: italic; }
.container article .insert { display: block; width: 400px; padding: 10px; font-weight: italic; font-size: 16px; }
.container article .insert textarea { height: 400px; }
.container h2 { margin: 0; padding-top: 20px; }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container h2 { font-size: 18px; } }
.container h2 img { margin: 5px 15px -5px 15px; }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container h2 img { width: 50px; } }
.container #actual_block { display: inline-block; margin: 10px; width: calc(100% - 350px); }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container #actual_block { width: 290px; height: 505px; overflow: hidden; } }
@media only screen and (min-width: 451px) and (max-width: 850px) { .container #actual_block { width: auto; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container #actual_block #caption { font-size: 16px; } }
.container #actual_block #image { width: 100%; height: 350px; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container #actual_block #image { height: auto; } }
@media only screen and (min-width: 320px) and (max-width: 850px) and (min-width: 451px) { .container #actual_block #image { margin: auto; width: 80%; display: block; } }

@media only screen and (min-width: 320px) and (max-width: 450px) { .container #actual_block .text { font-size: 13px; } }
.container aside { display: inline-block; position: absolute; margin-top: 0; }
.container aside .banner { display: block; margin: 10px; width: 300px; height: 250px; background-image: url("../img/banner.jpg"); cursor: pointer; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container aside { display: none; } }
.container #news_block_items { display: flex; margin-top: 10px; padding: 10px; flex-wrap: wrap; justify-content: space-between; }
.container #news_block_items:after { content: ""; width: 18.6rem; display: block; }
.container #news_block_items.additional_after:after { width: 38.7rem; }
.container #news_block_items .change { position: relative; margin-left: -72px; height: 28px; }
.container #news_block_items .change > * { padding: 5px 5px; background: rgba(255, 255, 255, 0.8); display: inline-block; border-right: 1px solid #828282; cursor: pointer; }
.container #news_block_items .change > *:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); opacity: 1; }
.container #news_block_items .news_items { display: inline-block; margin-bottom: 10px; width: 305px; height: 235px; cursor: pointer; opacity: 0.9; }
@media only screen and (min-width: 451px) and (max-width: 949px) { .container #news_block_items .news_items { width: 49%; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container #news_block_items .news_items { width: 285px; padding: 5px; margin: 0; height: 200px; } }
.container #news_block_items .news_items:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); opacity: 1; }
.container #news_block_items .news_items #add { padding: 63px 105px; font-size: 96px; background: #ccc; color: #fff; display: block; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container #news_block_items .news_items #add { padding: 0; height: 100%; font-size: 55px; text-align: center; } }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container #news_block_items .news_items #add svg { height: 100%; } }
.container #news_block_items .news_items .caption { position: absolute; width: 305px; margin-top: -90px; background-color: rgba(255, 252, 250, 0.8); }
@media only screen and (min-width: 451px) and (max-width: 850px) { .container #news_block_items .news_items .caption { width: 48%; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container #news_block_items .news_items .caption { width: 285px; font-size: 14px; } }
.container #news_block_items .news_items .image { width: 100%; height: 100%; }
.container #news_block_items .news_items .date { position: absolute; padding: 5px 25px 5px 25px; background-color: rgba(255, 252, 250, 0.9); }
.container .news_example { z-index: 1; position: fixed; top: 65px; left: 0; right: 0; margin: auto; padding: 10px; width: 885px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); background: #fff; display: none; height: 500px; overflow: hidden; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container .news_example { top: 0px; height: 100%; width: 95%; overflow-y: auto; } }
@media only screen and (min-width: 320px) and (max-width: 850px) and (max-width: 451px) { .container .news_example { width: 290px; position: fixed; } }

.container .news_example .example { display: inline-block; padding: 0 10px 0 5px; width: 635px; height: 500px; overflow-y: auto; }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container .news_example .example { width: 290px; height: auto; } }
@media only screen and (min-width: 451px) and (max-width: 850px) { .container .news_example .example { width: 98%; height: auto; overflow: hidden; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container .news_example .example #caption { font-size: 16px; } }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container .news_example .example .text { font-size: 13px; } }
.container .news_example .example .date { padding-bottom: 15px; }
.container .news_example .comments_block { position: fixed; margin: 20px 0 0 660px; display: inline-block; width: 225px; font-size: 14px; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container .news_example .comments_block { margin: 15px 0 0 0; position: relative; width: 100%; } }
.container .news_example .comments_block form[name='user_comment'] { padding-bottom: 10px; border-bottom: 1px solid #808080; }
.container .news_example .comments_block form[name='user_comment'] .star { color: #ddd; cursor: pointer; }
.container .news_example .comments_block form[name='user_comment'] textarea { width: 217px; height: 80px; margin-top: 10px; }
@media only screen and (min-width: 320px) and (max-width: 800px) { .container .news_example .comments_block form[name='user_comment'] textarea { width: 98%; } }
.container .news_example .comments_block form[name='user_comment'] input[type="submit"] { display: block; margin: 5px 0 0 auto; font-size: 15px; }
.container .news_example .comments_block form[name='user_comment'] input[name="rate"] { width: 100px; border: none; color: #777; cursor: default; }
.container .news_example .comments_block .all_comments { padding-top: 10px; height: 300px; overflow-y: auto; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container .news_example .comments_block .all_comments { height: auto; } }
.container .news_example .comments_block .all_comments .comment { padding: 10px; margin-bottom: 7px; border-width: 1px; border-style: solid; border-color: #ccc; border-radius: 15px; }
.container .news_example .comments_block .all_comments .comment .nick { width: 100px; word-wrap: break-word; }
.container .news_example .comments_block .all_comments .comment .rate { margin-left: 15px; }
.container .news_example .comments_block .all_comments .comment .comment_text { margin: 10px 0 5px 0; word-wrap: break-word; }
.container .news_example .comments_block .all_comments .comment .date_of_comment { display: block; text-align: right; font-size: 12px; color: #7b7b7b; }
.container .news_example .comments_block .all_comments .comment .star { color: #f9c700; }
.container .news_example img { display: block; margin: auto; width: 530px; height: 335px; }
@media only screen and (min-width: 320px) and (max-width: 850px) { .container .news_example img { width: -webkit-fill-available; height: auto; } }
.container .news_example .close { position: absolute; right: 6px; cursor: pointer; }
@media only screen and (min-width: 320px) and (max-width: 450px) { .container .news_example .close { position: relative; margin: 0 0 0 250px; } }
.container .news_example .close svg { background-color: #fff; font-size: 25px; }
.container #show_more { display: none; margin: auto; }

footer { background: #fec283; bottom: 0; padding: 5px 0 5px 0; }
@media only screen and (min-width: 320px) and (max-width: 450px) { footer { text-align: center; font-size: 14px; } }
footer span:nth-child(1) { display: inline-block; width: calc(100% - 370px); color: #4d2800; margin-left: 35px; }
@media only screen and (min-width: 320px) and (max-width: 450px) { footer span:nth-child(1) { width: 100%; margin: 0; } }
footer .share { display: inline-block; padding: 5px; width: 20px; height: 20px; font-size: 18px; color: #fff; text-align: center; }
footer .--twitter { background-color: #01c4fc; }
footer .--google_plus { background-color: #b62214; }
footer .--facebook { background-color: #0362d6; }
footer .--odnoklassniki { background-color: #f59000; }
footer .--vk { background-color: #0362d6; }
